body {
  background-color: #303030;
}

hr {
  width:100%
}

.hide {
  display:none;
}

.App {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

.clickable:empty{
  display: none;
}

.tab {
  flex: 1;
  background:#303030;
  color:#eee;
  min-width:10em;
  max-width:10em;
  max-height: 1.5em;
  min-height: 1.5em;
  border-style:solid;
  border-radius:10px;
  border-color:white;
  border-width:2px;
  align-items: center;
  justify-items: center;
}

.active {
  background-color:#606060;
}

.white-border {
  border-style:solid;
  border-color:white;
  border-width:1px;
  border-radius:5px;
}

.grid {
  display: flex;
}

.grid .descHeader {
  flex: 1;
  font-size:0.8em;
  min-width:5.5em;
  max-width:5.5em;
  color:#eee;
  text-align:center;
}

.grid .header {
  flex: 1;
  min-width: 4.5em;
  max-width: 4.5em;
  color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  font-weight: bold;
}

.grid .altheader {
  flex: 1;
  writing-mode:vertical-lr;
  text-orientation: mixed;
  transform: scale(-1);
  max-width: 1.5em;
  max-height: 5em;
  min-width: 1.5em;
  text-align: left;
  color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  font-weight: bold;
}

.grid .col {
  flex: 1;
  min-width: 1.5em;
  max-width: 1.5em;
  color: #eee;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}