body {
  background-color: #121212;
}

.App {
  text-align: right;
}

.grid {
  display: flex;
}

.grid .header {
  flex: 1;
  min-width: 4.5em;
  max-width: 4.5em;
  color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  font-weight: bold;
}

.grid .altheader {
  flex: 1;
  max-width: 1.5em;
  max-height: 5em;
  min-width: 1.5em;
  text-align: left;
  color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  font-weight: bold;
}

.grid .col {
  flex: 1;
  min-width: 1.5em;
  max-width: 1.5em;
  color: #eee;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}